@use './partials/variables' as *;
@use './partials/mixins' as *;
// importo bootstrap
@import "bootstrap/scss/bootstrap";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:sans-serif;
}



// HEADER----------------------------------------------------------







.resultSearch {
    margin: 0 auto;
    height: 85vh;
    width: 75%;
    scrollbar-width: none;
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 15px;
    
}

.secondContainer {
    height: 97%;
    overflow: auto;
    scrollbar-width: none;
}

.listTitle p:first-child {
    font-size: 25px;
    color: white;
    text-align: center;
    font-weight: bolder;
}

ul {
    font-size: 14px;
    padding: 15px 10px;
    list-style: none;
    text-align: center;
    overflow: clip;


    .title {
        font-size: 15px;
        font-weight: bold;
    }

    .titleOriginal span {
        font-size: 14px;
        font-weight: bold;

    }

    .overview {
        height: 130px;
        font-size: 13px;
        font-weight: bold;
        margin-top: 12px;
        overflow: auto;
        scrollbar-width: none;
    }
}

.col-5 p {
    text-align: center;
    font-weight: bold;
    color: white;
}

.cardFilmSerie {
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    width: 200px;
    height: 300px;
    position: relative;
    overflow: hidden;
  }
  
  .imgPoster {
    height: 300px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: absolute;
    width: 100%;
    transition: opacity 0.5s ease, transform 0.5s ease;
  }
  
  .imageIntern {
    height: 100%;
    border-radius: 6px;
    justify-content: center;
  }
  
  .infoFilmSerie {
    width: 200px;
    height: 300px;
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, transform 0.5s ease;
    transform: translateY(20px);
  }
  
  .cardFilmSerie:hover .imgPoster {
    opacity: 0;
    transform: translateY(-20px);
  }
  
  .cardFilmSerie:hover .infoFilmSerie {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }